# 'pip install -r requirements.txt' from this directory to install required modules.
# If package 'idna' is not added in cx_freeze.py requests==2.11.1 must be used in order for freeze to work.
# https://github.com/anthony-tuininga/cx_Freeze/issues/228
# requests==2.11.1
requests